/**
 * The following styles get applied inside the editor only.
 */

.wp-block-sortable-container {

	.block-editor-button-block-appender {
		margin-block: 1rem;
	}

	> .block-list-appender {
		position: relative;
		right: auto;
		align-self: center;
		list-style: none;
		line-height: inherit;

		.block-editor-button-block-appender {
			flex-direction: row;

			&::after {
				content: attr(aria-label);
				font-weight: 700;
			}
		}
	}

	&.is-list {

		> .block-list-appender {
			width: 100%;
		}
	}

	&.is-grid {

		> .block-list-appender {
			grid-column: 1 / -1;
		}
	}

	& .components-placeholder__label {
		& .dashicon {
			margin-right: 1rem;
		}
	}
}
