/**
 * The following styles get applied both on the front of a website
 * and in the editor.
 */
.wp-block-sortable-container {

	&.is-list {
		display: flex;
		flex-direction: column;
		gap: var(--wp--style--block-gap);
	}

	&.is-grid {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: var(--wp--style--block-gap);
	}
}

@media (min-width: 782px) {

	.wp-block-sortable-container {

		&.is-grid {

			&.columns-2 {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			&.columns-3 {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			&.columns-4 {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}

			&.columns-5 {
				grid-template-columns: repeat(5, minmax(0, 1fr));
			}

			&.columns-6 {
				grid-template-columns: repeat(6, minmax(0, 1fr));
			}
		}
	}
}
