/**
 * The following styles get applied both on the front of a website
 * and in the editor.
 */
.wp-block-sortable-entry {
	width: 100%;
	height: 100%;

	> :first-child {
		margin-block-start: 0;
	}

	> :last-child {
		margin-block-end: 0;
	}
}
